.meals-list-container {
    margin-top: 100px;
    text-align: center;
}

.meals-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.meal-card-vertical {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: left;
}

.meal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #0056b3;
}
